.cardcontainer{
    background-color: #F8F9FA;
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ced4da;
   
}
.card{
    color: black;
    font-size: 16px;
}
.cardcontainer:hover{
    border-bottom: 1px solid #6c757d;
}
.icon4{
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-left: 3px;
    opacity: 0;
}
.icon4:hover{
    background-color: #D2D7D3;
    opacity: 1;
}
